.center{
  text-align: center;
}

.link_container {
  height: 50px;
  width: 100%;
}

.next_prev {
  text-align: center;
  border-radius: 7px 7px;
  padding: 0px 0px;
  background-color: #0070FA;
  height:40px;
}

.next_prev a{
  display: block;
  height: 40px;
  color: white;
  text-decoration: none;
}


.next_prev:hover {
  color: white;
  font-weight: bold;
  cursor: pointer;
  background-color: #0060D0;
}

.next_prev:active {
  color: white;
  font-weight: bold;
  cursor: pointer;
  background-color: #0040A0;
}


.link_left {
  float: left;
  width: 100%;
}

.link_center {
  float: left;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
}

.link_right {
  float: right;
  width: 100%;
}

.my-white {
  color: white;
}

.submit_button {
  background-color: #0070FA;
  color: white;
}

.submit_button:hover {
  font-weight: bold;
  background-color: #0060D0;
  cursor: pointer;
  color: white;
}

.submit_button:active {
  color: white;
  font-weight: bold;
  cursor: pointer;
  background-color: #0040A0;
}



.create_link {
  margin : 0 auto;
  text-align: center;
  background-color: red;
  color: white;
  width: 220px;
  font-size: large;

  border-radius: 20px 20px;
  padding: 0px 0px;
  height:75px;
  margin-bottom: 10px;
}

.create_link a{
  display: block;
  color: white;
  text-decoration: none;
}

.create_link:hover {
  color: white;
  font-weight: bold;
  cursor: pointer;
  background-color: #FF5050;
}

.create_link:active {
  color: white;
  font-weight: bold;
  cursor: pointer;
  background-color: #FF9090;
}

.n_attendance {
  font-size: 130%;
  font-weight: bold;
  color: red;
}

.total_attendance {
  font-size: 60%;
  /* font-weight: bold; */
  /* color: red; */
}

a:hover {
  background-color: lightgray;
}

a:active {
  background-color: lightgray;
}


/* 要素の拡張 (jQuery) */

p.vertical {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.expansion_link0 {
  color: blue;
  text-decoration: underline dotted red;
}
.expansion_link1 {
  color: blue;
  text-decoration: underline dotted red;
}
.expansion_link2 {
  color: blue;
  text-decoration: underline dotted red;
}
.expansion_link3 {
  color: blue;
  text-decoration: underline dotted red;
}
.expansion_link4 {
  color: blue;
  text-decoration: underline dotted red;
}
.expansion_link5 {
  color: blue;
  text-decoration: underline dotted red;
}
.expansion_link6 {
  color: blue;
  text-decoration: underline dotted red;
}
.expansion_link7 {
  color: blue;
  text-decoration: underline dotted red;
}
.expansion_link8 {
  color: blue;
  text-decoration: underline dotted red;
}
.expansion_link9 {
  color: blue;
  text-decoration: underline dotted red;
}

.expansion_link0:hover {
  color: red;
  font-weight: bold;
  cursor: pointer;
}
.expansion_link1:hover {
  color: red;
  font-weight: bold;
  cursor: pointer;
}
.expansion_link2:hover {
  color: red;
  font-weight: bold;
  cursor: pointer;
}
.expansion_link3:hover {
  color: red;
  font-weight: bold;
  cursor: pointer;
}
.expansion_link4:hover {
  color: red;
  font-weight: bold;
  cursor: pointer;
}
.expansion_link5:hover {
  color: red;
  font-weight: bold;
  cursor: pointer;
}
.expansion_link6:hover {
  color: red;
  font-weight: bold;
  cursor: pointer;
}
.expansion_link7:hover {
  color: red;
  font-weight: bold;
  cursor: pointer;
}
.expansion_link8:hover {
  color: red;
  font-weight: bold;
  cursor: pointer;
}
.expansion_link9:hover {
  color: red;
  font-weight: bold;
  cursor: pointer;
}



h3.act_at {
  font-size: 150%;
  border-left: 10px solid #0070FA;
  padding: 3px 0 3px 3px;
}

div.detail {
  /* background-color: #C0C0C0; */
  margin-left: 13px;
  margin-right: 0px;
}

span.atten_part {
  font-weight: bold;
}

span.atten_detail {
  margin-left: 30px;
}

span.error {
  color: red;
}

span.new {
  font-size: 70%;
  color: white;
  background-color: olive;
}

span.update {
  font-size: 70%;
  color: red;
  background-color: yellow;
}

span.comment {
  font-size: 80%;
}

.form_atten + .form_atten { /* ２個連続するとき，つまり２個目以降だけに適用 */
  margin-top: 40px;
}

.note {
  font-size: 80%;
}

div.delete_form {
  margin-top: 80px;
  margin-left: auto;
}

p.right {
  margin-left: auto;
}
